:root {
    --ogs-primary: #428bca;
    --ogs-primary-light: rgba(66, 139, 202, 0.75);
}

#root {
    height: 100%;
}

.colLeft {
    height: 100%;
    padding: 0;
}

.backgroundColLeft {
    width: 100%;
    height: 100%;
    background-color: transparent;
    background: url("../img/background-demo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.colRight {
    display:table;
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
}

.logoTop {
    max-width: 300px;
}

.kcLoginClass{
    display: table-row;
}

.loginBody {
    display: table-cell;
    vertical-align: middle
}

.loginFooter{
    display: table-row;
    text-align: center;
}

.logoFooter{
    height: 45px;
    padding-bottom: 10px;
    text-align: left;
}

.separatorFooter {
    margin-left: 10px;
    margin-right: 10px;
}

#kc-page-title {
    color: var(--ogs-primary);
    font-size: 16px;
}

.kcFormCardClass {
    border-color: var(--ogs-primary);
}

.kcButtonPrimaryClass {
    background-color: var(--ogs-primary)!important;
}

.kcButtonPrimaryClass:hover {
    background-color: var(--ogs-primary-light)!important;
}

.kcInputClass:focus {
    outline: none !important;
    border:1px solid var(--ogs-primary);
    box-shadow: 0 0 4px var(--ogs-primary-light);
}
